.la-ball-spin-clockwise, .la-ball-spin-clockwise > div {
  position: relative;
  box-sizing: border-box
}

.la-ball-spin-clockwise {
  display: block;
  font-size: 0;
}

.la-ball-spin-clockwise > div {
  display: inline-block;
  float: none;
  background-color: currentColor;
  border: 0 solid currentColor
}

.la-ball-spin-clockwise > div {
  position: absolute;
  top: 50%;
  left: 50%;
  border-radius: 100%;
  animation: ball-spin-clockwise 1s infinite ease-in-out
}

.la-ball-spin-clockwise > div:nth-child(1) {
  top: 5%;
  left: 50%;
  animation-delay: -.875s
}

.la-ball-spin-clockwise > div:nth-child(2) {
  top: 18.1801948466%;
  left: 81.8198051534%;
  animation-delay: -.75s
}

.la-ball-spin-clockwise > div:nth-child(3) {
  top: 50%;
  left: 95%;
  animation-delay: -.625s
}

.la-ball-spin-clockwise > div:nth-child(4) {
  top: 81.8198051534%;
  left: 81.8198051534%;
  animation-delay: -.5s
}

.la-ball-spin-clockwise > div:nth-child(5) {
  top: 94.9999999966%;
  left: 50.0000000005%;
  animation-delay: -.375s
}

.la-ball-spin-clockwise > div:nth-child(6) {
  top: 81.8198046966%;
  left: 18.1801949248%;
  animation-delay: -.25s
}

.la-ball-spin-clockwise > div:nth-child(7) {
  top: 49.9999750815%;
  left: 5.0000051215%;
  animation-delay: -.125s
}

.la-ball-spin-clockwise > div:nth-child(8) {
  top: 18.179464974%;
  left: 18.1803700518%;
  animation-delay: 0s
}

@keyframes ball-spin-clockwise {
  0%, 100% {
    opacity: 1;
    transform: scale(1)
  }
  20% {
    opacity: 1
  }
  80% {
    opacity: 0;
    transform: scale(0)
  }
}



// custom

section {
  //width: 100%;
  display: inline-block;
  text-align: center;
  min-height: 215px;
  vertical-align: top;
  margin: 1%;
  //background: #080915;
  border-radius: 5px;
  //-webkit-box-shadow: 0px 0px 30px 1px #103136 inset;
  //box-shadow: 0px 0px 30px 1px #103136 inset;
}

@media only screen and (max-width: 600px) {
  section {
    min-width: 350px;
  }
}

.loader {
  position: relative;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  margin: 75px;
  display: inline-block;
  vertical-align: middle;
}

.loader-star {
  position: absolute;
  top: calc(50% - 12px);
}

/*LOADER-6*/

.loader-6 {
  border: 6px groove #f9826c;
  -webkit-transform: rotate(360deg);
  -ms-transform: rotate(360deg);
  transform: rotate(360deg);
  -webkit-transition: all 1s ease;
  -o-transition: all 1s ease;
  transition: all 1s ease;
  -webkit-animation: loader-1-inner 1s ease-out alternate infinite;
  animation: loader-1-inner 1s ease-out alternate infinite;
}

.loader-6 .loader-inner {
  border: 0px inset #f9826c;
  border-radius: 50%;
  width: 100%;
  height: 100%;
  -webkit-animation: border-zoom 1s ease-out alternate infinite;
  animation: border-zoom 1s ease-out alternate infinite;
}

/* ----------------     KEYFRAMES    ----------------- */

@-webkit-keyframes loader-1-outter {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@keyframes loader-1-outter {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@-webkit-keyframes loader-1-inner {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(-360deg);
    transform: rotate(-360deg);
  }
}

@keyframes loader-1-inner {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(-360deg);
    transform: rotate(-360deg);
  }
}

@-webkit-keyframes border-zoom {
  0% {
    border-width: 0px;
  }
  100% {
    border-width: 10px;
  }
}

@keyframes border-zoom {
  0% {
    border-width: 0px;
  }
  100% {
    border-width: 10px;
  }
}
